@model IEnumerable<EatLocal.Models.LocalFood>

@{
    ViewData["Title"] = "Index";
}

<h2> Currently in Season</h2>

<p>
    <a asp-action="Create">Create New</a> <br/>
    <br />
    <a asp-action="SearchByMonth">Search by Month</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.NutritionalInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.NutritionalInfo)
                
            </td>
          @Html.HiddenFor(modelItem => item.FoodImage)
            
            <td>
                
                <a asp-action="Details" asp-route-id="@item.FoodID">Details</a> |
               
                
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    
</div>
