@model EatLocal.Models.DailyMealPlan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyMealPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
       
        </dl>
        @Html.DisplayFor(model => model.ApplicationUser.Id)
        @Html.DisplayFor(model => model.Recipe.RecipeID)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MealPlanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
