@model EatLocal.Models.LocalMarkets

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LocalMarkets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonClose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonClose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityStateZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityStateZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MondayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MondayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MondayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MondayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TuesdayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TuesdayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TuesdayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TuesdayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WednesayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WednesayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WednesdayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WednesdayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThursdayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThursdayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThursdayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThursdayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FridayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FridayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FridayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FridayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaturdayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaturdayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaturdayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaturdayEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SundayStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SundayStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SundayEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SundayEnd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
