@model IEnumerable<EatLocal.Models.LocalMarkets>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Markets</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityStateZip)
            </th>
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
          <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityStateZip)
            </td>
          
          
            @Html.HiddenFor(modelItem => item.MondayStart)
            @Html.HiddenFor(modelItem => item.MondayEnd)
            @Html.HiddenFor(modelItem => item.TuesdayStart)
            @Html.HiddenFor(modelItem => item.TuesdayEnd)
            @Html.HiddenFor(modelItem => item.WednesayStart)
            @Html.HiddenFor(modelItem => item.WednesdayEnd)
            @Html.HiddenFor(modelItem => item.ThursdayStart)
            @Html.HiddenFor(modelItem => item.ThursdayEnd)
            @Html.HiddenFor(modelItem => item.FridayStart)
            @Html.HiddenFor(modelItem => item.FridayEnd)
            @Html.HiddenFor(modelItem => item.SaturdayStart)
            @Html.HiddenFor(modelItem => item.SaturdayEnd)
            @Html.HiddenFor(modelItem => item.SundayStart)
            @Html.HiddenFor(modelItem => item.SundayEnd)
            
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                <a asp-action="Map" asp-route-id="@item.ID"> See on Map</a>
            </td>
        </tr>
}
    </tbody>
</table>
